<h1>Branch History</h1>

<ul class="sub_nav">
  <li><a href="/a/branches" class="nav_link"><%= GitWiki.repo.current_branch %> branch</a></li>
  <li class="sub_nav details"><%= @history.size %> commits</li>
</ul>

<div class="content">
  <br />
  <ul>
  <% @history.each do |commit| %>
    <li>
      <% if commit != @history.first %>
        <a href="/a/revert_branch/<%= commit.sha %>" title="Click to revert to this revision." onclick="return confirm('Are you sure you want to revert to this revision?');">
          <script type="text/javascript">
          document.write(time_ago_in_words(<%= commit.date.for_time_ago_in_words %>) + ' ago');
          </script>
        </a>
      <% else %>
        <script type="text/javascript">
        document.write(time_ago_in_words(<%= commit.date.for_time_ago_in_words %>) + ' ago');
        </script>
      <% end %>
      &mdash;
      <%= commit.message %> 
    </li>
  <% end %>
  </ul>
</div>

