<h1>Editing <a href="/<%= @page.name %>"><%= @page.name %></a></h1>

<ul class="sub_nav">
  <li><a href="/<%= @page.name %>" class="nav_link">back</a></li>
  <li><a href="/a/file/upload/<%= @page.name %>" class="nav_link">attach</a></li>
  <% if @page.tracked? %>
    <li><a href="/h/<%= @page.name %>" class="nav_link">history</a></li>
  <% end %>
  
  <% if files = @page.attachments %>
  <li>
    <h3>Attachments</h3>
    <ul>
    <% files.each do |file| %>
      <li><a href="<%= file.link_path %>"><%= file.name %></a> 
        <span class="detail">(<%= file.size %>)</span>
        <ul class="attach-options">
          <li><a href="<%= file.delete_path %>">delete</a></li>
          <li><a href="<%= file.link_path %>">download</a></li>
          <% if file.image? %>
          <li><a href="#" onClick="$(edit_textarea).html($(edit_textarea).html() + '!<%= file.link_path %>!');">insert &#187;</a></li>
          <% else %>
          <li><a href="#" onClick="$(edit_textarea).html($(edit_textarea).html() + '[<%= file.name %>](<%= file.link_path %>)');">insert &#187;</a></li>
          <% end %>
        </ul>
      </li>
    <% end %>
    </ul>
  </li>
  <% end %>
</ul>

<div class="content">
  <form method="post" action="/e/<%= @page.name %>">
    <textarea name="body" id="edit_textarea"><%= @page.raw_body %></textarea>
    Message:
    <textarea name="message" rows="4" id="message_textarea"></textarea>
    <p class="right"><input type="submit" value="Save" class="submit" /></p>
  </form>
</div>