<div id="page_edit">

  <div id="page_edit_actions">
    <ul>
      <li>
        <a href="/<%= @page.uri %>" class="nav_link" title="Go to page without editing">back</a>
      </li>
      <% if @page.exists? %>
        <li><a href="/h/<%= @page.uri %>" class="nav_link" title="View page history">history</a></li>
      <% end %>
    </ul>
  </div>

  <div id="page_edit_forms">

    <div id="page_path">
      <h1>
        <% pretty_dir, pretty_name = @page.pretty_name %>
        <span class="pretty_dir">
          <%= File.join pretty_dir %>/
        </span>
        <span class="pretty_name">
          <%= pretty_name %>
        </span>
      </h1>
    </div>

    <div id="forms">
      <p>Markdown syntax used. No WikiLinks, just use [description](/some/page).</p>
      <form method="post" action="/e/<%= @page.uri %>">
        <textarea name="body" id="edit_textarea"><%= @page.escaped_raw_body %></textarea>
        <p>Edit summary:</p>
        <textarea name="message" rows="4" id="message_textarea"></textarea>
        <p class="right"><input type="submit" value="Save" class="submit" /></p>
      </form>
    </div>

  </div>

</div>

