<h1 id="editbanner">Editing <a href="/<%= @page.uri %>"><%= @page.pretty_name.last %></a></h1>

<ul class="sub_nav">
  <li><a href="/<%= @page.uri %>" class="nav_link">back</a></li>
  <% if @page.exists? %>
    <li><a href="/h/<%= @page.uri %>" class="nav_link">history</a></li>
  <% end %>
</ul>

<div class="content">
  <form method="post" action="/e/<%= @page.uri %>">
    <textarea name="body" id="edit_textarea"><%= @page.escaped_raw_body %></textarea>
    Edit summary:
    <textarea name="message" rows="4" id="message_textarea"></textarea>
    <p class="right"><input type="submit" value="Save" class="submit" /></p>
  </form>
</div>
