<div id="page_edit">

  <div id="page_edit_actions">
    <ul>
      <% if @page.exists? %>
        <li> <a href="/<%= @page.uri %>" class="nav_link" title="Go to page without editing" accesskey="b">back</a> </li>
        <li><a href="/changes/<%= @page.uri %>" class="nav_link" title="View change history" accesskey="h">history</a></li>
      <% end %>
    </ul>
  </div>

  <div id="page_edit_forms">

    <div id="page_path">
      <h1>
        <% pretty_dir, pretty_name = @page.pretty_name %>
        <span class="pretty_dir">
          <%= File.join pretty_dir %>/
        </span>
        <span class="pretty_name">
          <%= pretty_name %>
        </span>
      </h1>
    </div>

    <div id="forms">
      <p>Markdown syntax used. No WikiLinks, just use [description](/some/page).</p>
      <form method="POST" action="/<%= @page.uri %>">
        <% unless @page.exists? %>
        <input type="hidden" class="http_method" name="_method" value="PUT" />   
        <% end %>
        <textarea name="contents" id="edit_textarea" accesskey="t"><%= @page.escaped_raw_body %></textarea>
        <p>Edit summary:</p>
        <textarea name="message" rows="4" id="message_textarea" accesskey="m"></textarea>
        <p class="right">
          <input type="submit" value="Save" class="submit" accesskey="s" />
        </p>
      </form>
    </div>

  </div>

</div>

