<div id="section_info">
  <% if @matches.empty? %>
    <h1>No pages match '<span class="search_term"><%= Rack::Utils.escape @search %></span>'</h1>
  <% else %>
    <h1>Results for '<span class="search_term"><%= Rack::Utils.escape @search %></span>'</h1>
  <% end %>
</div>

<div id="search_results">

  <div class="sub_nav">
    <div class="details">
      <%= @matches.size %> matches.<br />
    </div>
  </div>

  <div class="content">
    <ul id="matches">
      <% @matches.each do |object, line| %>
        <% page = Page.from_git object %>
        <li class="match">
          <a href="/<%= page.uri %>" title="Go to match: <%= object.name %>"><%= page.pretty_name.last %></a>
          <span class="excerpt">: <%= line %></span>
        </li>
      <% end %>
    </ul>
  </div>

</div>

