<h1>History of <a href="/<%= @page.name %>"><%= @page.name %></a></h1>

<ul class="sub_nav">
  <li><a href="/<%= @page.name %>" class="nav_link">current</a></li>
  <li><a href="/e/<%= @page.name %>" class="nav_link">edit</a></li>
</ul>

<div class="content">
  <ul>
    <% @page.history.each do |c| %>
      <li>
        <script type="text/javascript">
        document.write(time_ago_in_words(<%= c.committer_date.for_time_ago_in_words %>) + ' ago');
        </script>
        &mdash;
        <a href="/h/<%= @page.name %>/<%= c.sha %>"><%= c.message %></a>
        <% unless @page.history.first == c %>
         &bull; <a href="/d/<%= @page.name %>/<%= c.sha %>">diff</a>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
