<div id="section_info">
  <% if @objects.empty? %>
    <h1>There are no pages yet!</h1>
  <% else %>
    <h1>Pages<%= " Under <span class=\"pretty_dir\">#{@subdir}/</span>" if @subdir %></h1>
  <% end %>
</div>

<div id="page_list">
  <% if @objects.empty? %>
    <p><a href="/e/<%= Giraffe.home %>" title="Create your home page">Go to create your first page.</a></p>
  <% else %>
    <div class="content">
      <ul class="page_list">

        <% @recursor = lambda do |object, continuation| %>
          <% if object.kind_of? Git::Tree %>
            <li class="entry">
              <ul class="directory">
                <li class="directory_label"><%= object.name %>/
                  <% object.objects.each {|child| continuation.call child, continuation } %>
                </li>
              </ul>
            </li>
          <% else %>
            <% next unless Giraffe.list_filter.call object.path %>
            <% page = Page.from_git object %>
            <li class="entry">
              <ul class="page">
                <li class="name">
                  <a href="/<%= page.uri %>"><%= page.pretty_name.last %></a>
                </li>
                <li class="actions">
                  <ul>
                    <li class="action"><a href="/e/<%= page.uri %>">.edit</a></li>
                    <li class="action"><a href="/h/<%= page.uri %>">.history</a></li>
                  </ul>
                </li>
              </ul>
            </li>
          <% end %>
        <% end %>

        <% @objects.each {|obj| @recursor.call obj, @recursor } %>

      </ul>

    </div>

  <% end %>
</div>
