<% if @pages.empty? %>
  <h1>There are no pages yet!</h1>
  <p><a href="/e/<%= Giraffe.home %>" title="Create your home page">Go to create your first page.</a></p>
<% else %>
  <h1>Pages<%= " Under <span class=\"pretty_dir\">#{@subdir}/</span>" if @subdir %></h1>

  <div class="content">
    <ul class="page_list">

      <% @recursor = lambda do |page, continuation| %>
        <li>
          <% if page.kind_of? Array %>
            <ul class="directory">
              <li class="directory_label"><%= File.basename page.first %>/
                <% unless page.last.empty? %>
                  <% page.last.each {|child| continuation.call child, continuation } %>
                <% else %>
                  <li class="empty_directory">&lt;empty&gt;</li>
                <% end %>
              </li>
            </ul>
          <% else %>
            <ul class="page">
              <li class="name">
                <a href="/<%= page.name %>"><%= page.pretty_name.last %></a>
              </li>
              <li class="actions">
                <ul>
                  <li><a href="/e/<%= page.name %>">.edit</a></li>
                  <li><a href="/h/<%= page.name %>">.history</a></li>
                </ul>
              </li>
            </ul>
          <% end %>
        </li>
      <% end %>

      <% @pages.each {|page| @recursor.call page, @recursor } %>

    </ul>
  </div>
<% end %>
