<div id="section_info">
  <h1>History</h1>
</div>

<div id="page_history">

  <div class="sidebar">
    <ul class="sub_nav">
      <% if @page %>
        <li><a href="/<%= @page.uri %>" class="nav_link">current</a></li>
        <li><a href="/e/<%= @page.uri %>" class="nav_link">edit</a></li>
      <% end %>
    </ul>
  </div>

  <div class="content">
    <ul class="commits">
      <% @commits.each do |commit| %>
        <li class="commit">
          <a href="/<%= @page.uri %>?<%= commit.sha1 %>" title="View at revision <%= commit.sha1 %>">
            <%= commit.subject %>
          </a>
          <% unless commit == @commits.first %>
            <a href="/d/<%= commit.sha1 %>/<%= @page.uri %>">diff</a>
          <% end %>
          <script type="text/javascript">
            document.write(time_ago_in_words(<%= commit.time.to_i * 1000 %>) + ' ago');
          </script>
        </li>
      <% end %>
    </ul>
  </div>

</div>
