<div id="page_view">

  <div id="page_actions">
    <ul>
      <li><a href="/<%= @page.uri %>" class="nav_link" accesskey="c">current</a></li>
      <li><a href="/editable/<%= @page.uri %>" class="nav_link" accesskey="e">edit</a></li>
      <li><a href="/plaintext/<%= @page.uri %>" class="nav_link" accesskey="p">plaintext</a></li>
      <li><a href="/changes/<%= @page.uri %>" class="nav_link" accesskey="h">history</a></li>
      <li><a href="/grep/<%= @page.uri %>" class="nav_link">backlinks</a></li>
    </ul>
  </div>

  <div id="page_content">
    <div id="page_path">
      <% pretty_dir, pretty_name = @page.pretty_name %>
      <h1><span class="pretty_dir"><%= File.join pretty_dir %>/</span><span class="pretty_name"><%= pretty_name %></h1>
    </div>

    <div id="body">
      <%= @page.body %>
    </div>

    <div id="page_view_details">
      <ul>
        <li>
          <p>updated
            <script language="javascript" type="text/javascript">
              document.write(time_ago_in_words(<%= @page.updated_at.to_i * 1000 %>) + ' ago');
            </script>
          </p>
        </li>
      </ul>
    </div>

  </div>

</div>        <!-- Page view -->
