
<div id="page_view">

  <div id="page_actions">
    <ul>
      <% if params[:commit] %>
        <li><a href="/<%= @page.uri %>" class="nav_link">current</a></li>
      <% end %>
      <li><a href="/e/<%= @page.uri %>" class="nav_link">edit</a></li>

      <li><a href="/a/raw/<%= @page.uri %>" class="nav_link">raw</a></li>

      <li><a href="/h/<%= @page.uri %>" class="nav_link">history</a></li>
      <li><a href="/a/search?search=<%= @page.uri %>" class="nav_link">backlinks</a></li>
    </ul>
  </div>

  <div id="page_content">
    <div id="page_path">
      <% pretty_dir, pretty_name = @page.pretty_name %>
      <h1><span class="pretty_dir"><%= File.join pretty_dir %>/</span><span class="pretty_name"><%= pretty_name %></h1>
    </div>

    <div id="body">
      <%= @page.body %>
    </div>

    <div id="page_view_details">
      <ul>
        <li>
          <p>updated
            <script language="javascript" type="text/javascript">
              document.write(time_ago_in_words(<%= @page.updated_at.for_time_ago_in_words %>) + ' ago');
            </script>
          </p>
        </li>
      </ul>
    </div>

  </div>

</div>        <!-- Page view -->
