<div id="section_info">
  <% pretty_dir, pretty_name = @page.pretty_name %>
  <h1><span class="pretty_dir"><%= File.join pretty_dir %>/</span><span class="pretty_name"><%= pretty_name %></h1>
</div>

<div id="page_view">

  <div id="page_actions">
    <ul>
      <% if params[:rev] %>
        <li><a href="/<%= @page.uri %>" class="nav_link">current</a></li>
      <% else %>
        <li><a href="/e/<%= @page.uri %>" class="nav_link">edit</a></li>
      <% end %>

      <li><a href="<%= @page.uri %>/raw" class="nav_link">raw</a></li>

      <li><a href="/h/<%= @page.uri %>" class="nav_link">history</a></li>
      <li><a href="/a/search?search=<%= @page.uri %>" class="nav_link">backlinks</a></li>

      <% if @page.older %>
        <li><a href="/h/<%= @page.uri %>/<%= @page.older %>" class="nav_link">older</a></li>
      <% end %>

      <% if @page.newer %>
        <li><a href="/h/<%= @page.uri %>/<%= @page.newer %>" class="nav_link">newer</a></li>
      <% end %>

      <% if files = @page.attachments %>
      <li>
        <h3>Attachments</h3>
        <ul>
        <% files.each do |file| %>
          <li><a href="<%= file.link_path %>"><%= file.name %></a></li>
        <% end %>
        </ul>
      </li>
      <% end %>
    </ul>
  </div>

  <div class="page_content page_edit_area">
    <%= @page.body %>
  </div>

  <div id="page_view_details">
    <ul>
      <li>
        <p>updated
          <script language="javascript" type="text/javascript">
            document.write(time_ago_in_words(<%= @page.updated_at.for_time_ago_in_words %>) + ' ago');
          </script>
        </p>
      </li>
    </ul>
  </div>

</div>        <!-- Page view -->
